
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/.suo
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/.suo
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/sqlite3/storage.ide
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/sqlite3/storage.ide
AVFCoffeeWebApp/.vs/config/applicationhost.config
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/.suo
*.ide
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/.suo
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/.suo
AVFCoffeeWebApp/.vs/AVFCoffeeWebApp/v15/sqlite3/storage.ide
AVFCoffeeWebApp/AVFCoffeeWebApp/obj/AVFCoffeeWebApp.csproj.nuget.cache
AVFCoffeeWebApp/AVFCoffeeWebApp/obj/Debug/netcoreapp2.0/AVFCoffeeWebApp.csproj.CoreCompileInputs.cache
AVFCoffeeWebApp/AVFCoffeeWebApp/obj/project.assets.json
