<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="~/css/login.css">
    <title>CalcuCafé</title>
</head>
<body>
    <!-- Wallpaper -->
    <div class="wallpaper bg-ferns"></div>
    <!-- Log-in Controls -->
    <div id="login-area">
        <!-- Logo and Subtitle  -->
        <img id="login-logo" src="/logo.svg" width="544" height="119" alt="CalcuCafé">
        <div data-tag="home-subheader" class="sub-text">
            A tool to help you calculate your cost of coffee production
        </div>
        <!-- Mobile Number Entry and Log-In Button -->
        <div id="farmer-sign-in">
            <form id="farmer-mobile-number-field" autocomplete="off">
                <input id="farmer-login-text-field" class="login-text-field" placeholder="Mobile Number" type="text" name="" value="">
            </form>
            <button data-tag="home-loginbtn" class="login-contained-button-disabled" onclick="abc('@ViewData["apiURL"]')" id="farmer-sign-in-button" type="button">LOG-IN</button>
            <!-- <button class="login-contained-button" id="farmer-sign-in-button" type="button">LOG-IN</button> -->
        </div>
    </div>
    <!-- Footer: Language Selection and Technician Sign-In Button -->
    <div id="login-footer">
        <form autocomplete="off">
            <select id="language-selector">
                <option id="english" data-tag="langLink1" value="meters">English (United States)</option>
                <option id="spanish" data-tag="langLink2" value="feet" selected="selected">Español</option>
            </select>
        </form>
        <button data-tag="TechnicianLogin" id="technician-login-button" class="login-text-button" type="button">TECHNICIAN LOG-IN</button>
    </div>
</body>
</html>

<script src="/lib/unify/assets/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
<!-- highcarts javascript sources -->
<script type="text/javascript" src="~/lib/highcharts/highcharts.src.js"></script>

<!-- JS Custom -->
<script src="/js/language/translate.js" asp-append-version="true"></script>
<script src="~/pages/home/js/home.js" asp-append-version="true"></script>
