
@{
    Layout = "_LayoutTechnician";
}

<!-- Uses a transparent header that draws on top of the layout's background -->
<!doctype html>

<html lang="en">

<body>
    <link rel="stylesheet" href="/lib/unify/assets/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="/lib/unify/assets/vendor/master-slider/source/assets/css/masterslider.main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/unify/assets/vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/unify/assets/vendor/slick-carousel/slick/slick.css" asp-append-version="true" />
    <script src="~/pages/TechnicianHome/js/technician.js"></script>
    @*<script src="/lib/unify/assets/js/hs.core.js"></script>
        <script src="~/lib/unify/assets/vendor/master-slider/source/assets/js/masterslider.min.js"></script>
        <script src="~/lib/unify/assets/vendor/cubeportfolio-full/cubeportfolio/js/jquery.cubeportfolio.min.js"></script>
        <script src="lib/unify/assets/vendor/gmaps/gmaps.min.js"></script>
        <script src="/lib/unify/assets/js/components/hs.header.js"></script>
        <script src="/lib/unify/assets/vendor/slick-carousel/slick/slick.js"></script>
        <script src="/lib/unify/assets/js/components/hs.scroll-nav.js"></script>
        <script src="/lib/unify/assets/js/components/hs.tabs.js"></script>
        <script src="/lib/unify/assets/js/components/hs.carousel.js"></script>
        <script src="/lib/unify/assets/js/components/hs.cubeportfolio.js"></script>
        <script src="/lib/unify/assets/js/components/gmap/hs.map.js"></script>
        <script src="/lib/unify/assets/js/components/hs.go-to.js"></script>*@


    <div class="col g-ml-45 g-ml-0--lg g-pb-65--md">
        <div class="g-pa-50">
            <div class="row">
                <div class="ms-thumb-list ms-tabs ms-dir-h ms-align-top" style="top: 0px; height: 50px; opacity: 1;z-index:0">
                    <div class="ms-thumbs-cont" style="width: 1650px; left: 0px;">
                        <div class="ms-thumb-frame" id="selectmetric" style="width: 550px; height: 50px; margin-right: 0px;">
                            <div class="ms-thumb" id="metrics" onclick="slidemetric()">Metrics</div><div class="ms-thumb-ol"></div>
                        </div>
                        <div class="ms-thumb-frame ms-thumb-frame-selected" id="selectinput" style="width: 550px; height: 50px; margin-right: 0px;">
                            <div class="ms-thumb" id="advancedinputs" onclick="slideinput()">Advanced Inputs</div>
                            <div class="ms-thumb-ol"></div>
                        </div>
                        <div class="ms-thumb-frame" id="selectsettings" style="width: 550px; height: 50px; margin-right: 0px;">
                            <div class="ms-thumb" id="generalsettings">General Settings</div><div class="ms-thumb-ol"></div>
                        </div>
                        <div class="ms-thumb-ol"></div>
                    </div>
                </div>
            </div>
            <div>
                <div id="slider">
                    <ul class="list-unstyled">
                        <li class="media g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1" onclick="laborslide()">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Labor</strong>

                                    <i class="hs-admin-angle-right"></i>
                                </div>

                            </div>
                        </li>
                        <li class="media g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">

                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Additional Income and Remuneration</strong>
                                    <i class="hs-admin-angle-right"></i>
                                </div>

                            </div>
                        </li>
                        <li class="media g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Cost of materials and Inputs</strong>
                                    <i class="hs-admin-angle-right"></i>
                                </div>
                                @*<span class="d-block">is offering free coffee</span>*@
                            </div>
                        </li>
                        <li class="media g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Equipment and reusable materials</strong>
                                    <i class="hs-admin-angle-right"></i>
                                </div>

                            </div>
                        </li>
                        <li class="media g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
                            @*<div class="d-flex g-mt-2 g-mr-15">
                        <img class="g-width-40 g-height-40 rounded-circle" src="../../assets/img-temp/100x100/img17.jpg" alt="Image Description">
                    </div>*@
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Administrative Costs, taxes and land</strong>
                                    <i class="hs-admin-angle-right"></i>
                                </div>

                            </div>
                        </li>
                        <li class="media g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-minus-1">
                            <div class="media-body">
                                <div class="d-flex justify-content-between">
                                    <strong>Transportation</strong>
                                    <i class="hs-admin-angle-right"></i>
                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
                <a href="" class="btn btn-md u-btn-primary g-mr-10 g-mb-30" style="float:right; background-color:#00838F">Save</a>
                <a href="" onclick="press()" class="btn btn-md u-btn-primary g-mr-10 g-mb-30" style="float:right; background-color:bisque;color:#00838F">Discard Changes</a>
            </div>

        </div>
    </div>


</body>
</html>



