<!-- Uses a transparent header that draws on top of the layout's background -->
<!doctype html>
@*@section Scripts {*@
<script src="/lib/unify/assets/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
<script>
        var apiURL = "@ViewData["apiURL"]";
</script>

<script>
    $(document).ready(function () {
        
        // Collapsable Hamburger Menu
        $("#hamburger").click(function () {
            if ($("#nav-drawer").css("display") == "block") {
                $("#nav-drawer").hide();
                $(".main-content").css('margin-left', '0px')
            } else {
                $("#nav-drawer").show();
                $(".main-content").css('margin-left', '300px')
            }
        });
    });


</script>

<script src="~/pages/TechnicianHome/AdvancedInputs/js/advancedInputs.js" asp-append-version="true"></script>

@*}*@


<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="~/style.css">
    <title>CalcuCafé</title>
</head>
<body>
    <!-- Top Navigation -->
    <div class="nav-top">
        <ul>
            <li id="hamburger">
                <img src="menu.svg" width="24" height="24" alt="menu">
            </li>
            <li id="brand">
                <a href=""><img src="logo.svg" width="146" height="32" alt="CalcuCafé"></a>
            </li>
        </ul>
        <ul class="nav-profile">
            <li>
                <a href=""><img src="avatar.png" width="36" height="36" alt="avatar"></a>
            </li>
            <li>
                <a id="user-name" href="">Martín Rojas</a>
            </li>
        </ul>
    </div>
    <!-- Side Navigation Drawer -->
    <div id="nav-drawer" class="nav-side">
        <ul>
            <li class="nav-side-link">
                <a href="">
                    <img class="menu-icon" src="~/icons/trending.svg" alt="">
                    Analytics
                </a>
            </li>
            <li class="nav-side-link">
                <a href="">
                    <img class="menu-icon" src="~/icons/list.svg" alt="">
                    Farmers
                </a>
            </li>
            <li class="nav-side-link active-section">
                <a href="">
                    <img class="menu-icon" src="~/icons/settings-active.svg" alt="">
                    Coop Settings
                </a>
            </li>
            <li class="nav-side-link">
                <a href="">
                    <img class="menu-icon" src="~/icons/help.svg" alt="">
                    Help
                </a>
            </li>
        </ul>
    </div>
    <!-- Main Content -->
    <div class="main-content">
        <div class="tabs">
            <div class="tab-link"><a href="TechnicianHome">METRICS</a></div>
            <div class="tab-link tab-active"><a href="AdvancedInputs">ADVANCED INPUT</a></div>
        </div>
        <div id="Inputs">
            <div class="breadcrumbs">
                <div class="crumb">
                    All Categories
                </div>
            </div>

            <a href="">
                <div class="list-item">
                    <div class="list-title">Labor</div>
                    <div class="list-chevron"><img src="~/icons/chevron-right.svg" alt=""></div>
                </div>
            </a>
            <a href="">
                <div class="list-item">
                    <div class="list-title">Additional income and remunertion</div>
                    <div class="list-chevron"><img src="~/icons/chevron-right.svg" alt=""></div>
                </div>
            </a>
            <a href="">
                <div class="list-item">
                    <div class="list-title">Cost of materials and inputs</div>
                    <div class="list-chevron"><img src="~/icons/chevron-right.svg" alt=""></div>
                </div>
            </a>
            <a href="">
                <div class="list-item">
                    <div class="list-title" id="equipment">Equipment and reusable material</div>
                    <div class="list-chevron"><img src="~/icons/chevron-right.svg" alt=""></div>
                </div>
            </a>
            <a href="">
                <div class="list-item">
                    <div class="list-title">Administrative costs, taxes and land</div>
                    <div class="list-chevron"><img src="~/icons/chevron-right.svg" alt=""></div>
                </div>
            </a>
            <a href="">
                <div class="list-item">
                    <div class="list-title">Transportation</div>
                    <div class="list-chevron"><img src="~/icons/chevron-right.svg" alt=""></div>
                </div>
            </a>
        </div>
        <!-- <div class="list-item">
      <div class="list-title">Seed Collection</div>
      <form autocomplete="off">
        <input type="text" name="firstname"><br>
      </form>
    </div> -->
    </div>
    <!-- JavaScript -->


</body>
</html>




