@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CalcuCafe</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico">

     <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/lib/unify/assets/vendor/bootstrap/bootstrap.min.css" asp-append-version="true">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/lib/unify/assets/vendor/icon-awesome/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/lib/unify/assets/vendor/hamburgers/hamburgers.min.css" asp-append-version="true">
 
    <!-- DropDown menu -->
    <link rel="stylesheet" href="/lib/unify/assets/vendor/hs-megamenu/src/hs.megamenu.css" asp-append-version="true">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/lib/unify/assets/css/unify.css" asp-append-version="true">
    
    <!-- CSS Site -->
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true">

</head>

<body>
    <!-- Header -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance" data-header-fix-moment="300">
        <div class="u-header__section u-header__section--dark g-bg-darkgreen g-transition-0_3 g-py-10" data-header-fix-moment-exclude="g-py-10" data-header-fix-moment-classes="g-py-0">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0 collapsed" type="button" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                    <!-- Logo -->
                    <a href="Home" class="navbar-brand">
                      <!-- <img src="~/images/coffee-beans.svg" alt="CalcuCafé">--> CalcuCafé
                    </a>
                    <!-- End Logo -->
                    <!-- Navigation -->
                    <div class="navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg collapse" id="navBar" style="">
                        <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                            <li class="nav-item g-mx-20--lg">
                                <a href="Input" class="nav-link px-0">
                                    Input

                                </a>
                            </li>
                           
                            <li class="nav-item g-mx-20--lg">
                                <a href="Simulation" class="nav-link px-0">
                                    Simulation

                                </a>
                            </li>
                            <li class="nav-item g-mx-20--lg">
                                <a href="Account/Signout" class="nav-link px-0">
                                    Sign Out

                                </a>
                            </li>
                         </ul>
                    </div>
                    <!-- End Navigation -->
                </div>
            </nav>
        </div>
    </header>

    <!-- End Header -->
    @RenderBody()

    <!-- Start Footer -->

    <!-- End Footer -->
    <!-- JS Global Compulsory -->
    <script src="/lib/unify/assets/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/vendor/tether.min.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/vendor/bootstrap/bootstrap.min.js" asp-append-version="true"></script>

    <!-- JS Implementing Plugin Dropdown Menus-->
    <script src="/lib/unify/assets/vendor/hs-megamenu/src/hs.megamenu.js" asp-append-version="true"></script>
    
    <!-- JS Unify -->
    <script src="/lib/unify/assets/js/hs.core.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/js/components/hs.header.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/js/helpers/hs.hamburgers.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/js/components/hs.dropdown.js" asp-append-version="true"></script>
  
    <!-- JS Custom -->
    <script src="/lib/unify/assets/js/custom.js" asp-append-version="true"></script>
    <script src="/js/language/translate.js" asp-append-version="true"></script>
   

    <!-- JS Plugins Init. -->
    <script>
        ; (function ($) {
            'use strict';
            $(document).on('ready', function () {
                // Header
                $.HSCore.components.HSHeader.init($('#js-header'));
                $.HSCore.helpers.HSHamburgers.init('.hamburger');
            });
        })(jQuery);
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
