@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html lang="en">
<head>
    <title>CalcuCafe</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- favicon -->
    <link rel="shortcut icon" href="favicon.ico">

     <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="/lib/unify/assets/vendor/bootstrap/bootstrap.min.css" asp-append-version="true">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="/lib/unify/assets/vendor/icon-awesome/css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="/lib/unify/assets/vendor/hamburgers/hamburgers.min.css" asp-append-version="true">
 
    <!-- DropDown menu -->
    <link rel="stylesheet" href="/lib/unify/assets/vendor/hs-megamenu/src/hs.megamenu.css" asp-append-version="true">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/lib/unify/assets/css/unify.css" asp-append-version="true">
    
    <!-- CSS Site -->
    <link rel="stylesheet" href="/css/site.css" asp-append-version="true">

</head>

<body>
    <!-- Header v1 -->
    <header id="js-header" class="u-header u-header--sticky-top u-header--change-appearance"
            data-header-fix-moment="100">
        <div class="u-header__section g-bg-darkgreen g-transition-0_3 g-py-15"
             data-header-fix-moment-exclude="g-bg-white-opacity-0_7"
             data-header-fix-moment-classes="u-shadow-v27 g-bg-white-opacity-0_9">
            <nav class="navbar navbar-toggleable-md py-0">
                <div class="container">
                    <!-- Logo -->
                    <a href="home" class="navbar-brand u-header__logo g-width-200 g-mr-60 g-pr-50 g-color-white">
                        <!--<img class="img-fluid u-header__logo-img u-header__logo-img--main" src="~/images/coffee-beans.svg" alt="Image Description" style="width:25%;">-->
                        <h1 class="g-color-white g-font-weight-700 g-font-size-20 g-font-size-25--md g-letter-spacing-5 g-pa-0">CalcuCafé</h1>

                    </a>
                    <!-- End Logo -->

                    <div id="navBar" class="collapse navbar-collapse w-100">
                        <!-- Navigation -->
                        <div class="navbar-collapse align-items-center flex-sm-row">
                            <ul id="js-scroll-nav" class="navbar-nav text-uppercase g-font-weight-700 g-font-size-11 g-pt-20 g-pt-0--lg">
                                <li class="nav-item g-mr-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="Home" class="nav-link p-0 g-color-white" data-tag="layout-navitem1">Home</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="Input" class="nav-link p-0 g-color-white" data-tag="layout-navitem2">Input</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="Simulation" class="nav-link p-0 g-color-white" data-tag="layout-navitem3">Simulation</a>
                                </li>
                                <li class="nav-item g-mx-15--lg g-mb-7 g-mb-0--lg">
                                    <a href="Account/Signout" class="nav-link p-0 g-color-white" data-tag="layout-navitem4">Sign Out</a>
                                </li>

                            </ul>
                        </div>
                        <!-- End Navigation -->

                    </div>
                    <!-- Responsive Toggle Button -->
                    <button class="navbar-toggler btn g-line-height-1 g-brd-none g-pa-0 ml-auto" type="button"
                            aria-label="Toggle navigation"
                            aria-expanded="false"
                            aria-controls="navBar"
                            data-toggle="collapse"
                            data-target="#navBar">
                        <span class="hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner g-bg-white"></span>
                            </span>
                        </span>
                    </button>
                    <!-- End Responsive Toggle Button -->
                </div>
            </nav>
        </div>
    </header>
    <!-- End Header v1 -->

    @RenderBody()

    <!-- Start Footer -->
    <!-- End Footer -->
    <!-- JS Global Compulsory -->
    <script src="/lib/unify/assets/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/vendor/tether.min.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/vendor/bootstrap/bootstrap.min.js" asp-append-version="true"></script>

    <!-- JS Implementing Plugin Dropdown Menus-->
    <script src="/lib/unify/assets/vendor/hs-megamenu/src/hs.megamenu.js" asp-append-version="true"></script>

    <!-- JS Unify -->
    <script src="/lib/unify/assets/js/hs.core.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/js/components/hs.header.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/js/helpers/hs.hamburgers.js" asp-append-version="true"></script>
    <script src="/lib/unify/assets/js/components/hs.dropdown.js" asp-append-version="true"></script>

    <!-- JS Custom -->
    <script src="/lib/unify/assets/js/custom.js" asp-append-version="true"></script>
    <script src="/js/language/translate.js" asp-append-version="true"></script>


    <!-- JS Plugins Init. -->
    <script>
        ; (function ($) {
            'use strict';
            $(document).on('ready', function () {
                // Header
                $.HSCore.components.HSHeader.init($('#js-header'));
                $.HSCore.helpers.HSHamburgers.init('.hamburger');
            });
        })(jQuery);
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
