
@{
    ViewData["Title"] = "Index";
}

<body class="g-bg-lightbeige">

    <div class="container g-mt-100">
        <div class="row">
            <div class="col-md-6">
                <!-- First Question -->
                <div class="container">
                    <h2>Hectares:</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="float-left">
                                <label class="h5 g-color-darkpurple2">
                                    <a class="" data-toggle="tooltip" title="" data-original-title="Trees that are not yet producing beans." data-tag="input-question1-option1">
                                        Young  <span class="fa fa-info-circle g-color-gray-dark-v1--active"></span>
                                    </a>
                                </label>
                                <div>
                                    <span>
                                        <img class="icon" style="width:28px; height:28px;" src=/images/smoltree.png title="Young" />
                                        <input id="earlyHectares2" class="" type="text" name="youngtrees" size="1">
                                    </span>
                                </div>
                            </div>
                            <div class="float-left g-ml-30">
                                <label class="h5 g-color-darkpurple2">
                                    <a class="" data-toggle="tooltip" title="" data-original-title="Trees that are fully producing." data-tag="input-question1-option2">
                                        Mature  <span class="fa fa-info-circle g-color-gray-dark-v1--active"></span>
                                    </a>
                                </label>
                                <div>
                                    <span>
                                        <img class="icon" style="width:28px; height:28px;" src=/images/smoltree.png title="Young" />
                                        <input id="peakHectares2" class="" type="text" name="maturetrees" size="1">
                                    </span>
                                </div>
                            </div>
                            <div class="float-left g-ml-30">
                                <label class="h5 g-color-darkpurple2">
                                    <a class="" data-toggle="tooltip" title="" data-original-title="Trees that are past peak production." data-tag="input-question1-option3">
                                        Old  <span class="fa fa-info-circle g-color-gray-dark-v1--active"></span>
                                    </a>
                                </label>
                                <div>
                                    <span>
                                        <img class="icon" style="width:28px; height:28px;" src=/images/smoltree.png title="Young" />
                                        <input id="oldHectares2" class="" type="text" name="oldtrees" size="1">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end first question-->
                <!-- start second question-->
                <div class="container g-mt-50">
                    <h2>Method:</h2>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="float-left">
                                <label class="h5 g-color-darkpurple2">
                                    <a class="" data-toggle="tooltip" title="" data-original-title="Organic production methods." data-tag="input-question2-option1">
                                        Organic  <span class="fa fa-info-circle g-color-gray-dark-v1--active"></span>
                                    </a>
                                </label>
                                <div>
                                    <span>
                                        <img class="icon" style="width:28px; height:28px;" src=/images/bugicon.svg title="organic" />
                                        <input id="organic2" name="Radios" type="radio" value="organic">
                                    </span>
                                </div>
                            </div>
                            <div class="float-left g-ml-30">
                                <label class="h5 g-color-darkpurple2">
                                    <a class="" data-toggle="tooltip" title="" data-original-title="Chemical methods of production." data-tag="input-question2-option2">
                                        Chemical  <span class="fa fa-info-circle g-color-gray-dark-v1--active"></span>
                                    </a>
                                </label>
                                <div>
                                    <span>
                                        <img class="icon" style="width:28px; height:28px;" src=/images/spraybottleicon.svg title="Chemical" />
                                        <input id="conventional2" name="Radios" type="radio" value="Chemical">
                                    </span>
                                </div>
                            </div>
                            <div class="float-left g-ml-30">
                                <label class="h5 g-color-darkpurple2">
                                    <a class="" data-toggle="tooltip" title="" data-original-title="Transitioning to organic production methods." data-tag="input-question2-option3">
                                        Transitioning  <span class="fa fa-info-circle g-color-gray-dark-v1--active"></span>
                                    </a>
                                </label>
                                <div>
                                    <span>
                                        <img class="icon" style="width:28px; height:28px;" src=/images/transitionicon.svg title="Transition" />
                                        <input id="transition2" name="Radios" type="radio" value="Transitioning">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end second question-->
                <!-- Third Question -->
                <div class="container g-mt-50">
                    <h2>Laborers:</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="float-left">
                                <img class="icon g-pr-5" style="width:28px; height:28px;" src=/images/laborericon.png title="labor" />
                            </div>
                            <div class="float-left">
                                <input id="workerSalarySoles2" class="" type="text" name="labor">
                                <p class="g-mb-0" data-tag="input-question3-units">soles/day</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Third Question -->
                <!-- Fourth Question -->
                <div class="container g-mt-50">
                    <h2>Production:</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="float-left">
                                <img class="icon g-pr-5" style="width:28px; height:28px;" src=/images/2beansicon.png title="production" />
                            </div>
                            <div class="float-left">
                                <input id="productionQuintales2" class="" type="text" name="productivity">
                                <p class="g-mb-0" data-tag="input-question4-units">pounds/day</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Fourth Question -->
                <!-- Fifth Question -->
                <div class="container g-mt-50">
                    <h2>Transport:</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="float-left">
                                <img class="icon g-pr-5" style="width:28px; height:28px;" src=/images/2beansicon.png title="transport" />
                            </div>
                            <div class="float-left">
                                <input id="transportCostSoles2" class="" type="text" name="transport">
                                <p class="g-mb-0" data-tag="input-question5-units">soles</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Fifth Question -->
                <!-- Sixth Question -->
                <div class="container g-mt-50">
                    <h2>Price:</h2>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="float-left">
                                <img class="icon g-pr-5" style="width:28px; height:28px;" src=/images/2beansicon.png title="price" />
                            </div>
                            <div class="float-left">
                                <input id="costPriceSolesPerQuintal2" class="" type="text" name="price">
                                <p class="g-mb-0" data-tag="input-question5-units">soles</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Sixth Question -->
                <button id="submitInput2" class="btn btn-block btn-xl u-btn-darkpurple2 g-rounded-50 g-mr-10 g-mb-15 g-mt-50" data-tag="input-submit">Submit</button>
            </div>
            <div class="col-md-6">
                <div class="container u-shadow-v1-3">
                    <!-- Begin Overview -->
                    <!-- Chart -->
                    <div class="g-mt-100" id="chartdiv2" style="width: 100%; height: 550px;"></div>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts{
    <!--api url-->
    <script>
        var apiURL = "@ViewData["apiURL"]";
    </script>

    <!-- highcarts javascript sources -->
    <script type="text/javascript" src="~/lib/highcharts/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>


    <!-- JS Custom -->
    <script src="~/js/globalUserObject.js" asp-append-version="true"></script>
    <script src="~/pages/simulation/js/simulationChartOptions.js" asp-append-version="true"></script>
    <script src="~/pages/simulation/js/simulation.js" asp-append-version="true"></script>


}
