

@{
    ViewData["Title"] = "Index";
}


<body class="g-bg-lightbeige">
    <div class="container">
        <!-- Begin Overview -->
        <!-- Chart -->
        <div class="g-mt-100" id="chartdiv1" style="width: 100%; height: 550px;"></div>

    </div>
</body>


@section Scripts{
    <!-- highcarts javascript sources -->
    <script type="text/javascript" src="~/lib/highcharts/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
    <!--api url-->
    <script>
        var apiURL = "@ViewData["apiURL"]";
    </script>
    <!-- JS Custom -->
    <script src="~/js/globalUserObject.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/pages/results/js/results.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/pages/results/js/resultsChartOptions.js" asp-append-version="true"></script>

}

