

@{

    ViewData["Title"] = "Index";
    Layout = "_Layout";
}


<body class="g-bg-lightbeige">
    <div class="container text-center">
        <!-- Begin Overview -->
        <!-- Chart -->
        <div class="g-mt-100" id="chartdiv1" style="width: 100%; height: 550px;"></div>
        <span data-tag="chart-unitswitcher">View units in: </span><a class="switchUnitsMain" style="display:none; color:blue;" href="#!" data-tag="chart-mainunits">Dollars per Pound</a>
        <a class="switchUnitsAlt" style="color: blue" href="#!" data-tag="chart-altunits">Soles per Quintal</a>
    </div>
</body>


@section Scripts{
    <!-- highcarts javascript sources -->
    <script type="text/javascript" src="~/lib/highcharts/highcharts.src.js"></script>
    <!--api url-->
    <script>
        var apiURL = "@ViewData["apiURL"]";
    </script>
    <!-- JS Custom -->
    <script src="~/js/globalUserObject.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/pages/results/js/results.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/pages/results/js/resultsChartOptions.js" asp-append-version="true"></script>

}

